﻿/* =========== General =========== */
body, html { 
    overflow-x:hidden; 
    background-color: #ffffff;
}

.container-fluid {
    font-family: 'Heebo', sans-serif;
    background-color: #ffffff;
}

.container-fluid a, .container-fluid a:hover {
    text-decoration: none;
    color: inherit;     
 }

.turquoise {
    color: #2F9C95;
}

/*==========================Icons================================*/
.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

svg {
    width: 25px;
    height: 25px;
    color: #2F9C95;
}

img {
    height: 16px;
}

/* =========== Left side ===========*/

#liseret {
    padding: 0;
    color: #020202;
    background-color: #C6E4E2;
}

#liseret h4 {
    color: #ffffff; 
    background-color: #2F9C95;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#liseret p, #liseret svg, #liseret a {
    margin-left: 25px;
    margin-right: 25px;
    
}

#contact p, #contact a {
    margin-left: 0px;
    margin-right: 0px;
}

#liseret svg {
    height: 16px;
    width: 16px; 
}

#about {
    flex: 1;
}

#about p {
    text-align: justify;
}


#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}

#profile {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}

.progress-bar {
    /*https://uigradients.com */
background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#hobbies svg {
    width: 30px;
    height: 30px;
}


/* =========== Right side =========== */

.underline {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #2F9C95;
}

/*Header*/
h1 {
    color: #020202;
}

.dev {
    color: #020202;
}

.surname {
    font-weight: lighter; 
}

/*Main information*/

#main-info {
    color: #020202;
}

#main-info h4 {
    padding-bottom: 10px;
    color: #020202;
    font-weight: bold;
}

#main-info h6 {
    font-weight: bold;
}


#main-info div.col-3 {
    padding-left: 0px;
}

svg.icon-dot-circle-regular {
    height: 16px;
    width: 16px;
}

svg.icon-circle-solid {
    height: 9px;
    width: 9px;
}
.date {
    font-weight: 500;
}

/*Media query*/



@media all and (max-device-width: 768px) {
       
    body p, body a, body ul {
        font-size: 0.9rem;
    }

    #contact {
        word-break: break-word
    }

    div.underline h4 {
        font-size: 1.2rem;
    }
    div.underline svg {
        height: 20px;
        width: 20px;
    }
}
@media screen and (max-device-width: 405px){
    #main-info h6, #main-info h4 {
        font-size: 0.9rem;
    }

     #main-info svg {
        height: 16px;
        width: 16px;
     }
}

@media all and (max-device-width: 480px)
{

    .list {
        padding-left: 15px;
    }

    div.underline {
        margin-left: 2px;
    }

}

@media all and (max-device-width: 890px) and (min-device-width: 767px){
    #contact {
        word-break: break-word
    }

    #contact div.col-10 {
        padding: 0;
    }

    #contact svg {
        margin: 0;
    }

    #liseret a, #contact p {
       width: 100%;
    }
}

@media all and (max-device-width: 766px) and (min-device-width: 576px) {
    
    #liseret a, #contact p {
       width: 100%;
    }

    #contact div.col-2 {
        padding: 0;
    }

    #contact svg {
        margin-left: 10px;
    }

}

@media all and (max-device-width: 619px) and (min-device-width: 576px) {

    div.underline {
        margin-right: 5px !important;
    }

    div.underline svg {
        margin-right: 10px !important;
    }
}

@media all and (max-device-width: 619px) and (min-device-width: 576px) {
    #main-info div.col-sm-1.d-none.d-sm-block{
        padding: 0;
    }
}